/* 
Struttura dell'applicazione
viene settato il colore di sfondo
il font
e il tipo di display
*/


body {
    background-color: #51138A;
    font-family: 'Montserrat', sans-serif;
    min-height: 600vh;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    transition: background-color 0.5s ease-in-out;

    padding-top: env(safe-area-inset-top, 0);
    padding-right: env(safe-area-inset-right, 0);
    padding-bottom: env(safe-area-inset-bottom, 0);
    padding-left: env(safe-area-inset-left, 0);
}

/*
stili per i componenti degli shaders
*/

canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
}

#glCanvasPurple{
    opacity: 1;
    scale: 101%;
    transition: opacity 1s ease-in-out;
}

#glCanvasYellow{
    opacity: 0;
    scale: 101%;
    transition: opacity 1s ease-in-out;
}

#glCanvasBlue{
    opacity: 0;
    scale: 101%;
    transition: opacity 1s ease-in-out;
}

#glCanvasYellowFinale{
    opacity: 0;
    scale: 101%;
    transition: opacity 1s ease-in-out;
}


/*
Area adibita al pulsante indietro e al pulsante del controllo audio
*/
#top_content {
    position: fixed;
    width: 90%;
    height: 6%;
    top: 9%;
    left: 5%;
    opacity: 1;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out, height 0.5s ease-in-out;
    z-index: 3;
}

/*COMPONENTI DEL TOP CONTENT*/

.circle_button{
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: 900;
    background-color: #51138A;
    color: #FFC423;
    border-radius: 100%;
    width: 10%;
    height: 70%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

#back_audio_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#back_button{
    opacity: 0;
}

#audio_button{
    opacity: 0;
}

#audio_img{
    align-self: center;
}

#back_img{
    align-self: center;
}

/*
logo geomag
serve per dare la giusta spaziatura ai bottoni
*/
#geomag_logo{
    opacity: 0;
    width: 80%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

/*logo geomag che si vede*/
#geomag_logo_animation{
    opacity: 0;
    position: fixed;
    width: 34.5%;
    transition: opacity 0.5s ease-in-out;
}

/*freccia che avverte che bisogna scrollare*/
#arrow_scroll_up_sign_img{
    position: fixed;
    bottom: 5%;
    right: 8%;
    z-index: 3;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

.arrow{
    width: 55%;
}

.arrow_effect_1{
    width: 25%;
    will-change: opacity;
    transform: translateZ(0);
    animation: arrowSignScrollUpAnimation1 2.0s ease-in-out infinite;
}

.arrow_effect_2{
    width: 25%;
    will-change: opacity;
    transform: translateZ(0);
    animation: arrowSignScrollUpAnimation2 2.0s ease-in-out infinite;
}

.arrow_effect_3{
    width: 25%;
    will-change: opacity;
    transform: translateZ(0);
    animation: arrowSignScrollUpAnimation3 2.0s ease-in-out infinite;
}

 @keyframes arrowSignScrollUpAnimation3 {
    25% {
        opacity: 0.4;
    }
    125% {
        opacity: 1;
    }
}

 @keyframes arrowSignScrollUpAnimation2 {
    50% {
        opacity: 0.4;
    }
    150% {
        opacity: 1;
    }
}

 @keyframes arrowSignScrollUpAnimation1 {
    75% {
        opacity: 0.4;
    }
    175% {
        opacity: 1;
    }
}

/*
baloon generici
viene settata la posizione
la forma
i margini
e il tipo di display

ogni baloon poi avrà il suo id
dove verranno settate le dimensioni
la flex direction
i colori dello sfondo e del testo al suo interno
*/

/*---- CB ----*/
.central_baloon{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    font-size: 14px;
    line-height: 140%;
    margin-top: 1.25%;
    will-change: transform;
    transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out, height 0.5s ease-in-out;
}

/*---- LB ----*/
.left_baloon {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    line-height: 140%;
    font-size: 14px;
    margin-top: 1.25%;
    will-change: transform;
    transition: transform 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.1s ease-in-out;
}

/*---- RB ----*/
.right_baloon {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: auto;
    line-height: 140%;
    font-size: 14px;
    margin-top: 1.25%;
    will-change: transform;
    transition: transform 0.5s ease-in-out, height 0.5s ease-in-out, opacity 0.1s ease-in-out;
}

.alternative_style{
    font-size: 15px;
    font-weight: 900;
    color: #F8F8FF;
}

/*
Pagina iniziale
*/
#start {
    position: fixed;
    color: #FFC423;
    width: 90%;
    height: 85%;
    top: 50%;
    left: 5%;
}

/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/

/*---------01 WELCOME PAGE--------*/
#welcome_page{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transition: transform 1s ease-in-out;
}

/*
baloon centrale(CB) di benvenuto
*/
#welcome_box_CB {
    position: fixed;
    color: #ffc423;
    font-weight: 900;
    font-size: 22px;
    opacity: 0;
    width: 90%;
    height: 8%;
    transition: transform 1s ease-in-out;
}

/*
baloon con le immagini be example e geomag
*/
#be_example_LB{
    background: radial-gradient(#FFC423, #FFA20A);
    color: #51138A;
    width: 100%;
    height: 42%;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(600%);
}

/*
immagine logo geomag all'interno del baloon
*/
#geomag_logo_bex{
    margin-top: 0%;
    margin-left: 10%;
    width: 20%;
}

/*
immagine be example all'interno del baloon
*/
#img_bx{
    width: 80%;
    height: 65%;
    margin-top: 5%;
    margin-left: 10%;
}

/*
messaggio che ti dice di scegliere il tuo ruolo
*/
#select_path_message_CB{
    color: #ffc423;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    width: 70%;
    height: 10%;
    margin-top:10%;
    transform: translateY(700%);
}


/*
Box dove saranno contenute le due scelte da fare
*/
#select_path_box_CB{
    font-weight: 600;
    font-size: 80%;
    opacity: 1;
    margin-top: -8%;
    width: 90%;
    height: 40%;    
    transform: translateY(700%);
}

/*
Box della sezione kids and adults
*/
.section {
    background-color: #F8F8FF;
    color: #000000;
    font-size: 200%;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 55%;
    border-radius: 25px;
}  

#Kids_section{
    transform: rotate(-15deg);
    margin-top: 10%;
    margin-right: 5%;
    align-self:flex-start;
    animation: kidsSectionAnimation 2.3s ease-in-out alternate infinite;
}

 @keyframes kidsSectionAnimation {
    0% {
        margin-top: 17%;
        margin-right: 2%;
        transform: rotate(-15deg) rotate3d(1,1,1, 20deg);
    }
    100% {
        margin-top: 10%;
        margin-right: 5%;
        transform: rotate(-5deg) rotate3d(1,1,1, -20deg);
    }
}

#Adults_section{
    transform: rotate(15deg);
    margin-bottom: 10%;
    margin-left: 5%;
    align-self: flex-end;
    animation: adultsSectionAnimation 2.5s ease-in-out alternate infinite;
}

@keyframes adultsSectionAnimation {
    0% {
        margin-bottom: 3%;
        margin-left: 5%;
        transform: rotate(15deg) rotate3d(1,1,1, -20deg);
    }
    100% {
        margin-bottom: 10%;
        margin-left: 2%;
        transform: rotate(5deg) rotate3d(1,1,1, 20deg);
    }
}

/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/


/*---------01 TUTORIAL PAGE---------*/
#tutorial_kids_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#hello_box_CB {
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 900;
    font-size: 130%;
    width: 100%;
    height: 8%;
}

#swipe_up_tutorial {
    position: fixed;
    color: #51138A;
    bottom: -40%;
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 1s ease-in-out, height 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

#swipe_up_message{
    transition: opacity 0.5s ease-in-out;
}

#Purple_Arrow{
    position: fixed;
    left: 45%;
    bottom: -45%;
    height: 15%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, bottom 0.5s ease-in-out, height 0.5s ease-in-out, left 0.5s ease-in-out;
}

#first_Baloon_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 600;
    text-align: left;
    opacity: 1;
    width: 100%;
    height: 18%;
    transform: translateY(600%);
    border-radius: 90px;
}

#first_Baloon_CB_message{
    width: 70%;
}

#second_Baloon_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 600;
    text-align: left;
    opacity: 1;
    width: 100%;
    height: 14%;
    transform: translateY(600%);
    border-radius: 90px;
}

#second_Baloon_CB_message{
    width: 70%;
}

#letsGo_Baloon_CB{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    text-align: left;
    opacity: 1;
    width: 59%;
    height: 9.5%;
    position: fixed;
    bottom: -22%;
    text-align: center;
    border-radius: 90px;
    animation: letsGoAnimation 2.5s ease-in-out alternate infinite;
    transition: bottom 0.5s ease-in-out;
}

@keyframes letsGoAnimation {
    0% {
        margin-bottom: 3%;
        margin-left: -1.5%;
        transform: rotate(10deg) rotate3d(1,1,1, -20deg);
    }
    100% {
        margin-bottom: 8%;
        margin-left: 1.5%;
        transform: rotate(-10deg) rotate3d(1,1,1, 20deg);
    }
}

#letsGo_Baloon_CB_message{
    width: 80%;
}

/*---------- 02 KIDS STORY START-----------*/
#kids_story {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#narrator_Baloon_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 600;
    text-align: left;
    opacity: 1;
    width: 100%;
    height: 18%;
    transform: translateY(0%);
    border-radius: 90px;
}

#narrator_Baloon_CB_message{
    width: 70%;
}

#choice_box_CB {
    background: radial-gradient(#51138a, #3c0c63);
    transform: translateY(1100%);
    color: #ffffff;
    font-weight: 900;
    font-size: 130%;
    width: 98%;
    height: 8%;
}

#select_place_box_RB{
    background: radial-gradient(#51138a, #3c0c63);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    font-weight: 600;
    font-size: 80%;
    opacity: 1;
    width: 100%;
    height: 65%;    
    transform: translateY(1100%);
}

/*------GARDEN PART--------*/
#place_Baloon_garden{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
    width: 62%;
    height: 20%;
    position: fixed;
    top: 10%;
    left:7%;
    flex-direction: column;
    justify-content: start;
    border-radius: 90px;
    transition: all 0.15s ease-in-out;
}

.straight_garden_baloon {
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    border-radius: 60px !important;
    height: 70% !important;
    width: 67% !important;
    text-align: start !important;
}

#garden_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    font-size: 20px;
    margin-top: 10px;
    width: 55%;
    height: 15%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/*------ATTIC PART--------*/
#place_Baloon_attic{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
    width: 62%;
    height: 20%;
    position: fixed;
    top: 40%;
    left:30%;
    flex-direction: column;
    justify-content: start;
    border-radius: 90px;
    transition: all 0.15s ease-in-out;
}

.straight_attic_baloon {
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    border-radius: 60px !important;
    height: 70% !important;
    width: 67% !important;
    top: 10% !important;
    text-align: start !important;
}

#attic_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    font-size: 20px;
    margin-top: 10px;
    width: 55%;
    height: 15%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/*------PARK PART--------*/
#place_Baloon_park{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
    width: 62%;
    height: 20%;
    position: fixed;
    top: 70%;
    left:7%;
    flex-direction: column;
    justify-content: start;
    border-radius: 90px;
    transition: all 0.15s ease-in-out;
}

.straight_park_baloon {
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    border-radius: 60px !important;
    height: 70% !important;
    width: 67% !important;
    top: 20% !important;
    text-align: start !important;
}

#park_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    font-size: 20px;
    margin-top: 10px;
    width: 55%;
    height: 15%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/*------COMON PART--------*/
#garden_image, #attic_image, #park_image {
    display: block;
    width: 0%;
    height: auto;
    border-radius: 18px;
    margin-top: -12%;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

.movedGardenUp {
    transform: translateY(-70%) !important;
    scale: 70%;
    transition: all 0.15s ease-in-out;
}

.movedGardenLeft {
    transform: translateY(135%) !important;
    scale: 70%;
    rotate: 90deg;
    transition: all 0.15s ease-in-out;
}

.movedAttic {
    transform: translateY(-135%) !important;
    scale: 70%;
    rotate: 90deg;
    transition: all 0.15s ease-in-out;
}

.movedPark {
    transform: translateY(70%) !important;
    scale: 70%;
    transition: all 0.15s ease-in-out;
}


/*----- 03 KIDS STORY PLACE PART -------*/

#place_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#place_description_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 600;
    text-align: left;
    opacity: 1;
    width: 100%;
    height: 20%;
    transform: translateY(0%);
    border-radius: 90px;
}

#place_description_CB_message{
    width: 70%;
}

#place_cuby_RB{
    background: radial-gradient(#51138a, #3c0c63);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    font-weight: 600;
    font-size: 80%;
    opacity: 1;
    width: 100%;
    height: 85%;    
    transform: translateY(700%);
}

#wait_what_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffffff;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 2%;
    transform: translateY(600%);
    border-radius: 90px;
}

#wait_what_CB_message{
    width: 70%;
}

#cuby_placed{
    width: 35%;
    transition: width 0.2s ease-in-out;
}

#cuby_placed:hover{
    border-radius: 15px;
    /*background-color: #4800ff3a;*/
    width: 60%;
}
/*----- 04 KIDS STORY CLEAN CUBY PART -------*/

#clean_cuby_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#dirty_cuby_LB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #FFC423;
    width: 79%;
    height: 31.5%;
    align-items: center;
}

#dirty_cuby_img{
    position: fixed;
    width: 50%;
    transition: opacity 1s ease-in-out;
}

#oh_look_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 9.5%;
    transform: translateY(800%);
    border-radius: 90px;
}

#hurry_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffffff;
    font-weight: 900;
    font-size: 120%;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 12%;
    transform: translateY(800%);
    border-radius: 90px;
}

#oh_look_hurry_CB_message{
    width: 70%;
}

#toy_to_clean_RB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #FFC423;
    width: 100%;
    height: 38%;
    transform: translateY(800%);
}

.toy_img{
    position: fixed;
    transition: opacity 1s ease-in-out;
}

#wonderful_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 900;
    text-align: center;
    opacity: 1;
    width: 100%;
    font-size: 30px;
    height: 12%;
    transform: translateY(800%);
    border-radius: 90px;
}

#wonderful_CB_message{
    width: 70%;
}

/*----- 05 KIDS STORY CUBY THANK YOU-------*/

#cuby_thank_you_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#cuby_thank_you_img{
    width: 30%;
    margin-left: 65%;
    margin-top: 25%;
    position: absolute;
    z-index: 1;
    transition: margin-top 0.5s ease-in-out;
}

#thank_you_LB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #FFC423;
    width: 79%;
    height: 25%;
    font-weight: 600;
    align-items: center;
}

.thank_you_LB_message{
    width: 80%;
    text-align: left;
}

#lets_go_LB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffffff;
    width: 79%;
    height: 40%;
    transform: translateY(800%);
    flex-direction: column;
}

.lets_go_LB_message{
    width: 80%;
    font-weight: 900;
    font-size: 120%;
    margin-bottom: 50%;
    text-align: left;
}

#letsGo_Baloon_05_CB{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    opacity: 1;
    width: 71%;
    height: 20%;
    position: fixed;
    margin-top: 30%;
    border-radius: 90px;
    animation: letsGoAnimation 2.5s ease-in-out alternate infinite;
    transition: bottom 0.5s ease-in-out;
}

#letsGo_Baloon_05_CB_message{
    font-size: 30px;
    width: 90%;
}

#animation_RB{
    background: radial-gradient(#5541af, #2b0954);
    position: fixed;
    bottom: 0%;
    right: 0%;
    width: 0%;
    height: 0%;
    justify-self: flex-start;
    margin-top: auto;
    z-index: 2;
    transition: transform 2.5s ease-in-out, height 0.8s ease-in-out, width 0.8s ease-in-out, opacity 0.5s ease-in-out;
}

/*----- 06 KIDS STORY CUBY WALK WITH YOU-------*/

#walk_with_cuby_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#cuby_walk_with_you_img{
    width: 30%;
    margin-left: 65%;
    margin-top: -100%;
    position: absolute;
    display: none;
    z-index: 1;
    transition: margin-top 0.5s ease-in-out;
}

#magical_path_CB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 20%;
    transform: translateY(0%);
    border-radius: 90px;
}

#magical_path_CB_message{
    width: 70%;
}

#almost_there_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 20%;
    font-weight: 600;
    transform: translateY(800%);
    align-items: center;
}

.almost_there_LB_message{
    width: 80%;
    text-align: left;
}

#arrival_parade_CB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 20%;
    transform: translateY(800%);
    border-radius: 90px;
}

#arrival_parade_CB_message{
    width: 70%;
}

#cuby_proposal_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 20%;
    transform: translateY(800%);
    flex-direction: column;
}

.cuby_proposal_LB_message{
    width: 80%;
    font-weight: 600;
    text-align: left;
}

/*----- 07 KIDS STORY SELECT OLD TOY-------*/
#kids_story_select_old_toy_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#your_pick_CB {
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #ffffff;
    font-weight: 900;
    font-size: 130%;
    width: 98%;
    height: 8%;
}

#select_toy_box_RB{
    background: radial-gradient(#E6B8FD, #D688FB);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    font-weight: 600;
    font-size: 80%;
    opacity: 1;
    width: 100%;
    height: 65%;    
    transform: translateY(1100%);
}

/*------COSMO PART--------*/
#toy_Baloon_cosmo{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
    width: 62%;
    height: 20%;
    position: fixed;
    top: 10%;
    left:7%;
    flex-direction: column;
    justify-content: start;
    border-radius: 90px;
    transition: all 0.15s ease-in-out;
}

.straight_cosmo_baloon {
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    border-radius: 60px !important;
    height: 70% !important;
    width: 67% !important;
    text-align: start !important;
}

#cosmo_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    font-size: 20px;
    margin-top: 10px;
    width: 55%;
    height: 15%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/*------SPHERE PART--------*/
#toy_Baloon_sphere{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
    width: 62%;
    height: 20%;
    position: fixed;
    top: 40%;
    left:30%;
    flex-direction: column;
    justify-content: start;
    border-radius: 90px;
    transition: all 0.15s ease-in-out;
}

.straight_sphere_baloon {
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    border-radius: 60px !important;
    height: 70% !important;
    width: 67% !important;
    top: 10% !important;
    text-align: start !important;
}

#sphere_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    font-size: 20px;
    margin-top: 10px;
    width: 55%;
    height: 15%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

/*------PIECEY PART--------*/
#toy_Baloon_piecey{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
    width: 62%;
    height: 20%;
    position: fixed;
    top: 70%;
    left:7%;
    flex-direction: column;
    justify-content: start;
    border-radius: 90px;
    transition: all 0.15s ease-in-out;
}

.straight_piecey_baloon {
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    border-radius: 60px !important;
    height: 70% !important;
    width: 67% !important;
    top: 20% !important;
    text-align: start !important;
}

#piecey_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    font-size: 20px;
    margin-top: 10px;
    width: 55%;
    height: 15%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}


/*------COMON PART--------*/
#cosmo_image, #sphere_image {
    display: block;
    width: 0%;
    height: auto;
    margin-top: 0%;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}

#piecey_image {
    display: block;
    width: 0%;
    height: auto;
    margin-top: -3%;
    opacity: 0;
    transform: rotate(30deg);
    transition: all 0.15s ease-in-out;
}

#cosmo_component_container, #sphere_component_container, #piecey_component_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-top: -18%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.old_toy_description{
    font-size: 14px;
    font-weight: 600;
    width: 75%;
    line-height: 140%;
    color: #000000;
}

.movedCosmoUp {
    transform: translateY(-70%) !important;
    scale: 70%;
    transition: all 0.15s ease-in-out;
}

.movedCosmoLeft {
    transform: translateY(135%) !important;
    scale: 70%;
    rotate: 90deg;
    transition: all 0.15s ease-in-out;
}

.movedSphere {
    transform: translateY(-135%) !important;
    scale: 70%;
    rotate: 90deg;
    transition: all 0.15s ease-in-out;
}

.movedPiecey {
    transform: translateY(70%) !important;
    scale: 70%;
    transition: all 0.15s ease-in-out;
}

/*----- 08 KIDS STORY OLD TOY SPEAK PART 1-----*/

#walk_with_old_toy_page_1 {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#cosmo_speak_with_you_1_img{
    width: 30%;
    margin-left: 65%;
    margin-top: -100%;
    position: absolute;
    display: none;
    z-index: 1;
    transition: margin-top 0.5s ease-in-out;
}

#cosmo_hello_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 25%;
    font-weight: 600;
    transform: translateY(0%);
    align-items: center;
}

.cosmo_hello_LB_message{
    width: 80%;
    margin-top: -10%;
    text-align: left;
}

#hi_response_CB{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    opacity: 1;
    width: 71%;
    height: 30%;
    position: fixed;
    margin-top: 30%;
    border-radius: 90px;
    animation: letsGoAnimation 2.5s ease-in-out alternate infinite;
    transition: bottom 0.5s ease-in-out;
}

#hi_response_CB_message{
    width: 80%;
}

#cosmo_remaind_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 25%;
    transform: translateY(800%);
    flex-direction: column;
}

.cosmo_remaind_LB_message_first{
    width: 80%;
    font-weight: 600;
    text-align: left;
}

.cosmo_story_begin_LB_message_second{
    width: 80%;
    font-weight: 600;
    margin-top: -2%;
    text-align: left;
}


/*----- 09 KIDS STORY OLD TOY SPEAK PART 2-----*/
#walk_with_old_toy_page_2 {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#cosmo_speak_with_you_2_img{
    width: 30%;
    margin-left: 65%;
    margin-top: -100%;
    position: absolute;
    display: none;
    z-index: 1;
    opacity: 0;
    transition: margin-top 0.5s ease-in-out;
}

#cuby_in_cosmo_part{
    width: 30%;
    margin-left: 100%;
    margin-top: 20%;
    position: absolute;
    z-index: 1;
    transition: margin-top 0.5s ease-in-out;
}

.cosmo_background{
    display: flex;
    position: fixed;
    bottom: -57%;
}

#cosmo_background_img{
    width: 100%;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0)80%);
}

#ran_races_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 22%;
    font-weight: 600;
    transform: translateY(0%);
    align-items: center;
}

.ran_races_LB_message{
    width: 75%;
    text-align: left;
}

#big_day_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 18%;
    transform: translateY(800%);
    flex-direction: column;
}

.big_day_LB_message{
    width: 75%;
    font-weight: 600;
    text-align: left;
}

#found_myself_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 15%;
    transform: translateY(800%);
    flex-direction: column;
}

.found_myself_LB_message{
    width: 75%;
    font-weight: 600;
    text-align: left;
}

/*-----10 KIDS STORY CUBY SPEAK-----*/
#cuby_speak_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#cuby_speak_page_img{
    width: 30%;
    margin-left: 65%;
    margin-top: 60%;
    position: absolute;
    z-index: 1;
    display: block;
    transition: margin-top 0.5s ease-in-out;
}

#a_problem_CB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    font-weight: 600;
    text-align: center;
    flex-direction: column;
    opacity: 1;
    width: 100%;
    height: 22%;
    transform: translateY(0%);
    border-radius: 90px;
}

.a_problem_CB_message_1{
    width: 70%;
}

.a_problem_CB_message_2{
    margin-top: -2%;
    width: 70%;
}

#allarm_message_container{
    opacity: 0;
}

#allarm_message_left{
    position: fixed;
    left: 0%;
    z-index: 3;
    top: 45%;
    width: 50%;
    color: #F8F8FF;
    font-weight: 900;
    font-size: 17px;
    text-shadow: 2px 2px 4px #00000080;
    animation: messageLeftAnimation 2.2s ease-in-out alternate infinite;
}

 @keyframes messageLeftAnimation {
    0% {
        margin-top: 10%;
        transform: rotate(-5deg);
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        margin-top: 5%;
        transform: rotate(5deg);
        opacity: 1;
    }
}

#allarm_message_right_1{
    position: fixed;
    left: 50%;
    z-index: 3;
    top: 30%;
    width: 50%;
    color: #F8F8FF;
    font-weight: 900;
    font-size: 17px;
    text-shadow: 2px 2px 4px #00000080;
    animation: messageRightAnimation 2.5s ease-in-out alternate infinite;
}

#allarm_message_right_2{
    position: fixed;
    left: 40%;
    z-index: 3;
    top: 60%;
    width: 50%;
    color: #F8F8FF;
    font-weight: 900;
    font-size: 17px;
    text-shadow: 2px 2px 4px #00000080;
    animation: messageRightAnimation 2.0s ease-in-out alternate infinite;
}

@keyframes messageRightAnimation {
    0% {
        margin-top: 5%;
        transform: rotate(-5deg);
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100% {
        margin-top: 10%;
        transform: rotate(5deg);
        opacity: 1;
    }
}

#whats_happening_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 10%;
    font-weight: 600;
    transform: translateY(800%);
    align-items: center;
}

.whats_happening_LB_message{
    width: 80%;
    text-align: left;
}

#leader_left_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 16%;
    transform: translateY(800%);
    flex-direction: column;
}

.leader_left_LB_message{
    width: 80%;
    font-weight: 600;
    text-align: left;
}

#look_at_you_CB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 14%;
    transform: translateY(800%);
    border-radius: 90px;
}

#look_at_you_CB_message{
    width: 70%;
}

#lets_choose_LB{
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #240A98;
    width: 79%;
    height: 20%;
    transform: translateY(800%);
    flex-direction: column;
}

.lets_choose_LB_message{
    width: 80%;
    font-weight: 600;
    text-align: left;
}

/*-----11 KIDS STORY SELECT NEW TOY-------*/
#kids_story_select_new_toy_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#your_choose_CB {
    background: radial-gradient(#E6B8FD, #D688FB);
    color: #ffffff;
    font-weight: 900;
    font-size: 130%;
    width: 98%;
    height: 15%;
}

#choose_toy_box_RB{
    background: radial-gradient(#E6B8FD, #D688FB);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    font-weight: 600;
    font-size: 80%;
    opacity: 1;
    width: 100%;
    height: 65%;    
    transform: translateY(1100%);
}

/*------ASTRA PART--------*/
#toy_Baloon_astra{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
    width: 62%;
    height: 20%;
    position: fixed;
    top: 10%;
    left:7%;
    flex-direction: column;
    justify-content: start;
    border-radius: 90px;
    transition: all 0.15s ease-in-out;
}

.straight_astra_baloon {
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    border-radius: 60px !important;
    height: 70% !important;
    width: 67% !important;
    text-align: start !important;
}

#astra_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    font-size: 20px;
    margin-top: 10px;
    width: 55%;
    height: 15%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

#astra_image {
    display: block;
    width:0%;
    height: auto;
    margin-top: -15%;
    opacity: 0;
    rotate: 45deg;
    transition: all 0.15s ease-in-out;
}
/*------ZENITH PART--------*/
#toy_Baloon_zenith{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
    width: 62%;
    height: 20%;
    position: fixed;
    top: 40%;
    left:30%;
    flex-direction: column;
    justify-content: start;
    border-radius: 90px;
    transition: all 0.15s ease-in-out;
}

.straight_zenith_baloon {
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    border-radius: 60px !important;
    height: 70% !important;
    width: 67% !important;
    top: 10% !important;
    text-align: start !important;
}

#zenith_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    font-size: 20px;
    margin-top: 10px;
    width: 55%;
    height: 15%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

#zenith_image {
    display: block;
    width: 0%;
    height: auto;
    margin-top: 0%;
    opacity: 0;
    transition: all 0.15s ease-in-out;
}
/*------SOLEIL PART--------*/
#toy_Baloon_soleil{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    opacity: 1;
    width: 62%;
    height: 20%;
    position: fixed;
    top: 70%;
    left:7%;
    flex-direction: column;
    justify-content: start;
    border-radius: 90px;
    transition: all 0.15s ease-in-out;
}

.straight_soleil_baloon {
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    border-radius: 60px !important;
    height: 70% !important;
    width: 67% !important;
    top: 20% !important;
    text-align: start !important;
}

#soleil_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    font-size: 20px;
    margin-top: 10px;
    width: 55%;
    height: 15%;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}

#soleil_image {
    display: block;
    width: 0%;
    height: auto;
    margin-top: -2%;
    margin-bottom: 3%;
    opacity: 0;
    transform: rotate(30deg);
    transition: all 0.15s ease-in-out;
}
/*------COMON PART--------*/

#astra_component_container, #zenith_component_container, #soleil_component_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80%;
    margin-top: -18%;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.new_toy_description{
    font-size: 14px;
    font-weight: 600;
    width: 75%;
    line-height: 140%;
    color: #000000;
}

.movedAstraUp {
    transform: translateY(-70%) !important;
    scale: 70%;
    transition: all 0.15s ease-in-out;
}

.movedAstraLeft {
    transform: translateY(135%) !important;
    scale: 70%;
    rotate: 90deg;
    transition: all 0.15s ease-in-out;
}

.movedZenith {
    transform: translateY(-135%) !important;
    scale: 70%;
    rotate: 90deg;
    transition: all 0.15s ease-in-out;
}

.movedSoleil {
    transform: translateY(70%) !important;
    scale: 70%;
    transition: all 0.15s ease-in-out;
}

/*-----12 KIDS STORY WATCH THE PARADE-------*/
#kids_story_watch_parade {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
}

#text_arrow_container_parade{
    color:#E6B8FD;
    font-weight: 600;
    margin-top: 60%;
}

#toys_img_container{
    display: flex;
    margin-top: 100%;
    flex-direction: column;
    align-items: center;
    width: 90%;
}

#first_toy_img{
    width: 50%;
    animation: toysparadeAnimation 2.1s ease-in-out alternate infinite;
}

#cuby_toy_img{
    width: 40%;
    margin-left: 65%;
    margin-top: 0%;
    animation: toysparadeAnimation 2.5s ease-in-out alternate infinite;
}

#second_toy_img{
    width: 50%;
    margin-right: 40%;
    margin-top: -20%;
    animation: toysparadeAnimation 2.6s ease-in-out alternate infinite;
}

#third_toy_img{
    width: 25%;
    margin-left: 55%;
    margin-top: -10%;
    animation: toysparadeAnimation 2.2s ease-in-out alternate infinite;
}

#fourth_toy_img{
    width: 45%;
    margin-right: 60%;
    margin-top: -10%;
    animation: toysparadeAnimation 2.4s ease-in-out alternate infinite;
}

#fifth_toy_img{
    width: 40%;
    margin-left: 60%;
    margin-top: -5%;
    animation: toysparadeAnimation 2.3s ease-in-out alternate infinite;
}

#sixth_toy_img{
    width: 25%;
    margin-right: 45%;
    margin-top: -20%;
    rotate: 45deg;
    animation: toysparadeAnimation 2.0s ease-in-out alternate infinite;
}

@keyframes toysparadeAnimation {
    0% {
        transform: rotate(-5deg);
    }
    25%{
        transform: rotate(-5deg);
    }
    75%{
        transform: rotate(5deg);
    }
    100% {
        transform: rotate(5deg);
    }
}

/*-----13 KIDS STORY STAGE PARADE-------*/
#kids_story_stage_parade {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 3s ease-in-out ;
}

#following_parade_CB{
    background: radial-gradient(#001D7A, #05175D);
    color: #FFEC0D;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 22%;
    transform: translateY(0%);
    border-radius: 90px;
}

#following_parade_CB_message{
    width: 70%;
}

#reach_the_plaza_CB{
    background: radial-gradient(#001D7A, #05175D);
    color: #FFEC0D;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 22%;
    transform: translateY(800%);
    border-radius: 90px;
}

#reach_the_plaza_CB_message{
    width: 70%;
}

#stage_RB{
    background: radial-gradient(#001D7A, #05175D);
    background-size: 150%;
    background-repeat: no-repeat;
    background-position: center;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    font-weight: 600;
    font-size: 80%;
    opacity: 1;
    width: 100%;
    height: 50%;    
    background-image: url('src/stage.png');
    background-size: cover;
    transform: translateY(800%);
}

/*-----14 KIDS STORY CUBY ON STAGE-------*/
#kids_story_cuby_on_stage {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out ;
}

#cuby_on_stage_page_img{
    width: 30%;
    margin-left: 65%;
    margin-top: -100%;
    position: absolute;
    z-index: 1;
    display: none;
    transition: margin-top 0.5s ease-in-out;
}

#cuby_on_stage_CB{
    background: radial-gradient(#001D7A, #05175D);
    color: #FFEC0D;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 18%;
    transform: translateY(0%);
    border-radius: 90px;
}

#cuby_on_stage_CB_message{
    width: 70%;
}

#hello_everyone_LB{
    background: radial-gradient(#001D7A, #05175D);
    color: #FFEC0D;
    width: 79%;
    height: 17%;
    font-weight: 600;
    transform: translateY(800%);
    align-items: center;
}

.hello_everyone_LB_message{
    width: 70%;
}

#special_friend_LB{
    background: radial-gradient(#001D7A, #05175D);
    color: #FFEC0D;
    width: 79%;
    height: 21%;
    font-weight: 600;
    transform: translateY(800%);
    align-items: center;
}

.special_friend_LB_message{
    width: 70%;
}

#join_cuby_on_stage_CB{
    background: radial-gradient(#001D7A, #05175D);
    color: #FFEC0D;
    font-weight: 600;
    text-align: center;
    opacity: 1;
    width: 100%;
    height: 18%;
    transform: translateY(800%);
    border-radius: 90px;
}

#join_cuby_on_stage_CB_message{
    width: 70%;
}
/*-----15 KIDS STORY FINAL PAGE-------*/
#final_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#congratulations_CB {
    background: radial-gradient(#001D7A, #05175D);
    color: #FFEC0D;
    font-weight: 900;
    font-size: 130%;
    width: 100%;
    height: 8%;
    transform: translateY(500%);
}

#you_are_CB{
    color: #001D7A;
    font-weight: 900;
    width: 100%;
    height: 8%;
    font-size: 16px;
    transform: translateY(1100%);
}

#badge_container{
    width: 79.25%;
    height: 41.7%;
    top: 16%;
    position: fixed;
    transform: translateY(1100%);
}

#badge_img{
    width: 100%;
    height: 100%;
    animation: badgeContainerAnimation 2.5s ease-in-out alternate infinite;
}

@keyframes badgeContainerAnimation {
    0% {
        transform: rotate(-10deg) rotate3d(1,1,1, 10deg);
    }
    100% {
        transform: rotate(10deg) rotate3d(1,1,1, -10deg);
    }
}

#double_message_CB{
    width: 100%;
    height: 8%;
    flex-direction: column;
    margin-top: 110%;
    transform: translateY(1100%);
}

#double_message_CB_first_message{
    color: #000000;
    font-weight: 600;
    font-size: 14px;
}

#double_message_CB_second_message{
    color: #001D7A;
    font-weight: 900;
    font-size: 18px;
    margin-top: -3%;
}

#discover_more_CB{
    color: #000000;
    font-weight: 500;
    width: 49%;
    height: 5%;
    margin-top: 10%;
    border: solid;
    font-size: 16px;
    transform: translateY(1100%);
    flex-direction: row;
}

#discover_arrow_img{
    width: 7%;
    margin-left: 3%;
}