/* 
Struttura dell'applicazione
viene settato il colore di sfondo
il font
e il tipo di display
*/


body {
    background-color: #51138A;
    font-family: 'Montserrat', sans-serif;
    min-height: 500vh;
    margin: 0;
    text-align: center;
    overflow-x: hidden;
    transition: background-color 0.5s ease-in-out;
}

/*SHADER*/

canvas {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
}

#glCanvasPurple{
    opacity: 1;
    scale: 101%;
    transition: opacity 1s ease-in-out;
}

#glCanvasYellowTutorial{
    opacity: 0;
    scale: 101%;
    transition: opacity 1s ease-in-out;
}

#glCanvasYellow{
    opacity: 0;
    scale: 101%;
    transition: opacity 1s ease-in-out;
}


/*
Area adibita al pulsante indietro e al pulsante del controllo audio
*/
#top_content {
    position: fixed;
    width: 90%;
    height: 6%;
    top: 9%;
    left: 5%;
    opacity: 1;
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out, height 0.5s ease-in-out;
}

/*COMPONENTI*/

/*
bottone circolare
forma e colore
*/
.circle_button{
    display: flex;
    align-self: center;
    justify-content: center;
    font-weight: 900;
    background-color: #51138A;
    color: #FFC423;
    border-radius: 100%;
    width: 10%;
    height: 70%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out, width 0.5s ease-in-out, background-color 0.5s ease-in-out;
}

/*
bottoni e immagini specifici
margini dall'immagine centrale
opacità per animarli
*/

#back_audio_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

#back_button{
    opacity: 0;
}

#audio_button{
    opacity: 0;
}

#audio_img{
    align-self: center;
}

#back_img{
    align-self: center;
}

/*
logo geomag
serve per dare la giusta spaziatura ai bottoni
*/
#geomag_logo{
    opacity: 0;
    width: 80%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, height 0.5s ease-in-out;
}

/*logo geomag che si vede*/
#geomag_logo_animation{
    opacity: 0;
    position: fixed;
    width: 34.5%;
    transition: opacity 0.5s ease-in-out;
}

/*
logo geomag
il logo che effettivamente viene visto nel top content
parte dal baloon be example ed arriva nella barra in alto

#geomag_logo_animation{
    opacity: 0;
    position: fixed;
    width: 18%;
    margin-top: 147.5%;
    margin-right: 54%;
    transition: opacity 0s ease-in-out, margin-top 0.5s ease-in-out, margin-right 0.5s ease-in-out, width 0.5s ease-in-out;
}
*/

/*
baloon generici
viene settata la posizione
la forma
i margini
e il tipo di display

ogni baloon poi avrà il suo id
dove verranno settate le dimensioni
la flex direction
i colori dello sfondo e del testo al suo interno
*/
/*---- CB ----*/
.central_baloon{
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    margin-top: 1.25%;
    transition: transform 0.5s ease-in-out, opacity 0.1s ease-in-out, height 0.5s ease-in-out;
}

/*---- LB ----*/
.left_baloon {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;
    margin-top: 1.25%;
    transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
}

/*---- RB ----*/
.right_baloon {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: auto;
    margin-top: 1.25%;
    transition: transform 0.5s ease-in-out, height 0.5s ease-in-out;
}

/*
Pagina iniziale
*/
#start {
    position: fixed;
    color: #FFC423;
    width: 90%;
    height: 85%;
    top: 50%;
    left: 5%;
}

/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/

/*
Pagina di benvenuto
*/
#welcome_page{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transition: transform 1s ease-in-out;
}

/*
baloon centrale(CB) di benvenuto
*/
#welcome_box_CB {
    position: fixed;
    color: #ffc423;
    font-weight: 900;
    font-size: 22px;
    opacity: 0;
    width: 90%;
    height: 8%;
    transition: transform 1s ease-in-out;
}

/*
baloon con le immagini be example e geomag
*/
#be_example_LB{
    background: radial-gradient(#FFC423, #FFA20A);
    color: #51138A;
    width: 100%;
    height: 42%;
    flex-direction: column;
    align-items: flex-start;
    transform: translateY(600%);
}

/*
immagine logo geomag all'interno del baloon
*/
#geomag_logo_bex{
    margin-top: 0%;
    margin-left: 10%;
    width: 20%;
}

/*
immagine be example all'interno del baloon
*/
#img_bx{
    width: 80%;
    height: 65%;
    margin-top: 5%;
    margin-left: 10%;
}

/*
messaggio che ti dice di scegliere il tuo ruolo
*/
#select_path_message_CB{
    color: #ffc423;
    font-weight: 600;
    font-size: 16px;
    opacity: 1;
    width: 70%;
    height: 10%;
    margin-top:10%;
    transform: translateY(700%);
}


/*
Box dove saranno contenute le due scelte da fare
*/
#select_path_box_CB{
    font-weight: 600;
    font-size: 80%;
    opacity: 1;
    margin-top: -8%;
    width: 90%;
    height: 40%;    
    transform: translateY(700%);
}

/*
Box della sezione kids and adults
*/
.section {
    background-color: #F8F8FF;
    color: #000000;
    font-size: 200%;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 55%;
    border-radius: 25px;
}  

#Kids_section{
    transform: rotate(-15deg);
    margin-top: 10%;
    margin-right: 5%;
    align-self:flex-start;
    animation: kidsSectionAnimation 2.3s ease-in-out alternate infinite;
}

 /* Definisci l'animazione della sezione kids*/
 @keyframes kidsSectionAnimation {
    0% {
        margin-top: 17%;
        margin-right: 2%;
        transform: rotate(-15deg) rotate3d(1,1,1, 20deg);
    }
    100% {
        margin-top: 10%;
        margin-right: 5%;
        transform: rotate(-5deg) rotate3d(1,1,1, -20deg);
    }
}

#Adults_section{
    transform: rotate(15deg);
    margin-bottom: 10%;
    margin-left: 5%;
    align-self: flex-end;
    animation: adultsSectionAnimation 2.5s ease-in-out alternate infinite;
}

/* Definisci l'animazione della sezione adults*/
@keyframes adultsSectionAnimation {
    0% {
        margin-bottom: 3%;
        margin-left: 5%;
        transform: rotate(15deg) rotate3d(1,1,1, -20deg);
    }
    100% {
        margin-bottom: 10%;
        margin-left: 2%;
        transform: rotate(5deg) rotate3d(1,1,1, 20deg);
    }
}

/*---------------------------------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------------------------------*/


/*
Pagina del tutorial
*/
#tutorial_kids_page {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

#hello_box_CB {
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 900;
    font-size: 130%;
    width: 100%;
    height: 8%;
}

#swipe_up_tutorial {
    position: fixed;
    color: #51138A;
    bottom: -40%;
    width: 100%;
    transition: transform 0.5s ease-in-out, opacity 1s ease-in-out, height 0.5s ease-in-out, bottom 0.5s ease-in-out;
}

#swipe_up_message{
    transition: opacity 0.5s ease-in-out;
}

#Purple_Arrow{
    position: fixed;
    left: 45%;
    bottom: -45%;
    height: 15%;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out, bottom 0.5s ease-in-out, height 0.5s ease-in-out, left 0.5s ease-in-out;
}

#first_Baloon_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 500;
    font-size: 14px;
    line-height: 20.1px;
    text-align: left;
    opacity: 1;
    width: 100%;
    height: 18%;
    transform: translateY(600%);
    border-radius: 90px;
}

#first_Baloon_CB_message{
    width: 70%;
}

#second_Baloon_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 500;
    font-size: 14px;
    line-height: 20.1px;
    text-align: left;
    opacity: 1;
    width: 100%;
    height: 14%;
    transform: translateY(600%);
    border-radius: 90px;
}

#second_Baloon_CB_message{
    width: 70%;
}

#letsGo_Baloon_CB{
    background: #F8F8FF;
    color: #000000;
    font-weight: 900;
    font-size: 30px;
    line-height: 20.1px;
    text-align: left;
    opacity: 1;
    width: 59%;
    height: 9.5%;
    position: fixed;
    bottom: -22%;
    text-align: center;
    border-radius: 90px;
    animation: letsGoAnimation 2.5s ease-in-out alternate infinite;
    transition: bottom 0.5s ease-in-out;
}

#kids_story {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 15%;
    left: 5%;
    width: 90%;
    height: 85%;
    align-items: center;
    transform: translateY(100%);
    transition: transform 1s ease-in-out;
}

/* Definisci l'animazione della sezione adults*/
@keyframes letsGoAnimation {
    0% {
        margin-bottom: 3%;
        margin-left: -1.5%;
        transform: rotate(10deg) rotate3d(1,1,1, -20deg);
    }
    100% {
        margin-bottom: 8%;
        margin-left: 1.5%;
        transform: rotate(-10deg) rotate3d(1,1,1, 20deg);
    }
}

#letsGo_Baloon_CB_message{
    width: 80%;
}


#narrator_Baloon_CB{
    background: radial-gradient(#51138a, #3c0c63);
    color: #ffc423;
    font-weight: 500;
    font-size: 14px;
    line-height: 20.1px;
    text-align: left;
    opacity: 1;
    width: 100%;
    height: 18%;
    transform: translateY(600%);
    border-radius: 90px;
}

#narrator_Baloon_CB_message{
    width: 70%;
}

#choice_box_CB {
    background: radial-gradient(#51138a, #3c0c63);
    transform: translateY(1100%);
    color: #ffc423;
    font-weight: 900;
    font-size: 130%;
    width: 98%;
    height: 8%;
}

#select_place_box_RB{
    background: radial-gradient(#51138a, #3c0c63);
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 50px;
    font-weight: 600;
    font-size: 80%;
    opacity: 1;
    width: 100%;
    height: 65%;    
    transform: translateY(1100%);
}

#place_Baloon_garden{
    background: #F8F8FF;
    color: #000000;
    transform: translateY(600%);
    font-weight: 900;
    font-size: 30px;
    line-height: 20.1px;
    text-align: left;
    opacity: 1;
    width: 59%;
    height: 9.5%;
    position: fixed;
    top: 10%;
    left:7%;
    flex-direction: column;
    text-align: center;
    border-radius: 90px;
    padding: 20px 10px;
    animation: placeAnimationGardenPark 1.3s ease-in-out alternate infinite;
    transition: bottom 0.5s ease-in-out, height 0.2s ease-in-out;
}

#place_Baloon_attic{
    background: #F8F8FF;
    color: #000000;
    transform: translateY(600%);
    font-weight: 900;
    font-size: 30px;
    line-height: 20.1px;
    text-align: left;
    opacity: 1;
    width: 59%;
    height: 9.5%;
    position: fixed;
    top: 40%;
    left: 30%;
    text-align: center;
    border-radius: 90px;
    padding: 20px 10px;
    animation: placeAnimationAttic 1.7s ease-in-out alternate infinite;
    transition: bottom 0.5s ease-in-out;
}

#place_Baloon_park{
    background: #F8F8FF;
    color: #000000;
    transform: translateY(600%);
    font-weight: 900;
    font-size: 30px;
    line-height: 20.1px;
    text-align: left;
    opacity: 1;
    width: 50%;
    height: 10%;
    position: fixed;
    top: 70%;
    text-align: center;
    border-radius: 90px;
    padding: 20px 10px;
    animation: placeAnimationGardenPark 1.5s ease-in-out alternate infinite;
    transition: bottom 0.5s ease-in-out;
}

.straight {
    transform: none !important;
    margin-bottom: 0% !important;
    margin-left: 0% !important;
    transition: 0.5s ease-in-out;
}

.movedAttic {
    transform: translateY(-145%) !important;
    animation-play-state: paused !important;
    scale: 70%;
    rotate: 90deg;
    transition: 0.5s ease-in-out;
}

.movedPark {
    transform: translateY(70%) !important;
    animation-play-state: paused !important;
    scale: 70%;
    transition: 0.5s ease-in-out;
}

#garden_image, #attic_image, #park_image {
    width: 80%;
    height: auto;
    display: none;
    border-radius: 18px;
    margin-top: -15px;
    transition: 0.5s ease-in-out;
}

#garden_button_choice {
    display: none;
    background-color: #000000;
    color: #F8F8FF;
    padding: 15px 15px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 40px;
    transition: 0.5s ease-in-out;
}

@keyframes placeAnimationGardenPark {
    0% {
        margin-bottom: 0%;
        margin-left: -1.5%;
        transform: rotate(10deg) rotate3d(1,1,1, 5deg);
    }
    100% {
        margin-bottom: 10%;
        margin-left: 1.5%;
        transform: rotate(-15deg) rotate3d(1,1,1, 10deg);
    }
}

@keyframes placeAnimationAttic {
    0% {
        margin-bottom: 0%;
        margin-left: -1.5%;
        transform: rotate(-10deg) rotate3d(1,1,1, -5deg);
    }
    100% {
        margin-bottom: 10%;
        margin-left: 1.5%;
        transform: rotate(15deg) rotate3d(1,1,1, -10deg);
    }
}